@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* Universal Properties */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: normal;
    -webkit-font-smoothing: antialiased;
}

div{
    display: inline-block;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 13s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.grid-container{
    /* position: absolute; */
    display: grid;
    /* justify-content: center; */
    align-content: center;
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 5;
    grid-template-columns: repeat(4, 10vh);
    grid-template-rows: minmax(12vh,auto) repeat(5, 10vh);
    width: max-content;
    margin: 100px;
    padding: 15px;
    transition: all 100ms ease-in;    
}

.button{
    text-align: center;
    margin: 5px;
    background: rgba( 255, 255, 255, 0.20 );
    -webkit-backdrop-filter: blur( 8.0px );
    font-size: 1.2em;
    border: 1px solid rgba( 255, 255, 255, 0.19);
    border-radius: 0.4em;
    transition: all 200ms ease-out;
    cursor: pointer;
}

.span-two{
    /* color: red; */
    grid-column: span 2;
}

.display{
    display: flex;
    flex-direction: column;
    color: white;
    font-weight:bolder;
    grid-column: 1/-1;
    border-radius: 0.5em;
    border: 3px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(151, 151, 151, 0.19);
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0.5em;
    margin-bottom: 5px;
    /* text-align: right; */
}

.output{
    font-size: 2em;
    line-height: 0.9em;
}

h1{
    color: white;
    font-size:19vw;
    text-align: center;
    line-height: 10px;
    position: absolute;
    opacity: 0.25;
    transition: all 0.2s ease-in;
    transition: filter 1s cubic-bezier(0.27, 0, 0.29, 1.01);;    
}

.grid-container:focus,
.grid-container:hover{
    transform-origin: center;
    transform: scale(102%);
}

.grid-container:hover + h1{
    filter: blur(10px);
}

.button:hover{
    background-color: rgba( 255, 255, 255, 0.5 );
    transform: scale(105%);
}

#buttonEqual:hover{
    background: rgba(255, 102, 0, 0.9);
    color: white;
    font-size: 1.2em;
}

#buttonAc:hover{
    background: rgba(255, 43, 43, 0.9);
    color: white;
    font-size: 1.2em;
}

.button:active{
    background-color: rgba( 255, 255, 255, 1 );
    transform: scale(95%);
}